.card {
  width: 250px;
  height: 250px;

  color: #fff;
  font-size: 2rem;

  padding: 20px;

  display: flex;
}

@media (max-width: 500px) {
  .card {
    width: 100vw;
    margin-bottom: 10px;
  }
}
